body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    /* Ensures the image cover fits the frame size */
}

.intro {
    text-align: center;
    margin-top: 20px;
}

h1,
h2,
h3 {
    font-family: 'Roboto Slab', serif;
}

.social-links {
    background-color: #f8f8f8;
    padding: 20px 0;
}

.social-links h2 {
    margin: 0 0 10px;
}

.social-links ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-links li {
    display: inline-block;
    margin: 0 10px;
}

.social-links a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #007bff;
    /* Change hover color to suit your preference */
}

main {
    padding: 50px 0;
}

#publications .publications-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Adjusted from center to space-between for better spacing */
}


.publication {
    /* ...existing styles... */
    display: flex;
    flex-direction: column;
    /* This ensures the image and content align vertically */
    overflow: hidden;
    /* To ensure the contents don't spill out */
}

.publication img {
    width: 100%;
    display: block;
    /* This removes any space gap under the image */
}

.publication-content {
    padding: 15px;
    /* Add padding around the text content */
    text-align: left;
    /* Aligns text to the left, it feels more natural for reading */
}

.publication h3 {
    margin: 10px 0;
    /* Added some spacing between the image, title, and description */
    font-size: 1.25em;
    /* Adjust the title size to your preference */
}

.publication p {
    margin: 0 0 10px;
    /* Keep paragraphs tight for better readability */
    font-size: 0.95em;
    /* Slightly reduced font-size for the description */
    line-height: 1.6;
    /* Adjust line-height for better legibility */
    color: #666;
    /* A softer color can make extended reading more comfortable */
}


.publication:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

/* Adjusted media queries to accommodate new layout adjustments */
@media screen and (max-width: 960px) {
    .publication {
        flex: 0 1 calc(50% - 30px);
    }
}

@media screen and (max-width: 640px) {
    .publication {
        flex: 0 1 100%;
    }
}