body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    /* Ensures the image cover fits the frame size */
}

.intro {
    text-align: center;
    margin-top: 20px;
}

h1,
h2,
h3 {
    font-family: 'Roboto Slab', serif;
}

.social-links {
    background-color: #f8f8f8;
    padding: 20px 0;
}

.social-links h2 {
    margin: 0 0 10px;
}

.social-links ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-links li {
    display: inline-block;
    margin: 0 10px;
}

.social-links a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #007bff;
    /* Change hover color to suit your preference */
}

main {
    padding: 50px 0;
}

#publications .publications-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Adjusted from center to space-between for better spacing */
}

.publication {
    flex: 0 1 calc(33.33% - 30px);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.publication-image {
    overflow: hidden;
    /* Ensures the image doesn't exceed its container */
    border-top-left-radius: 8px;
    /* Match the parent's border radius */
    border-top-right-radius: 8px;
}

.publication-image img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.publication-image:hover img {
    transform: scale(1.05);
    /* A subtle zoom effect on hover */
}

.publication-content {
    padding: 20px;
    text-align: left;
    /* Aligns the text to the left */
    flex-grow: 1;
    /* Allows the content to fill the space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.publication-content h3 {
    margin-top: 0;
}

.publication-content p {
    flex-grow: 1;
    /* Ensures that the paragraph takes up available space */
    margin-bottom: 20px;
    /* Adds spacing below the paragraph */
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

/* Adjusted media queries to accommodate new layout adjustments */
@media screen and (max-width: 960px) {
    .publication {
        flex: 0 1 calc(50% - 30px);
    }
}

@media screen and (max-width: 640px) {
    .publication {
        flex: 0 1 100%;
    }
}