body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: justify;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    /* Ensures the image cover fits the frame size */
}

.intro {
    text-align: center;
    margin-top: 20px;
}

h1,
h2,
h3 {
    font-family: 'Roboto Slab', serif;
}

.social-links {
    padding: 40px 0;
    text-align: center;
    background: linear-gradient(45deg, #0048ff, #00f5f1, #00ff73);
    background-size: 300% 300%;
    animation: gradientShift 8s ease infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.social-links h2 {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 2.2rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.social-links ul {
    padding: 0;
    list-style: none;
    display: flex;
    /* Makes sure that your list items are flex items, which will help evenly distribute space */
    flex-wrap: wrap;
    /* Allows items to wrap onto multiple lines */
    justify-content: center;
    /* Centers items horizontally */
    align-items: center;
    /* Centers items vertically */
}

.social-links li {
    display: inline-block;
    margin: 0 15px 15px;
    /* Adds horizontal and vertical margin space */

}

.social-links a {
    margin: 5px 0;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: transform 0.5s ease, background-color 0.5s ease;
    transform-style: preserve-3d;
    perspective: 1000px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.social-links a:hover,
.social-links a:focus {
    transform: scale(1.05) rotateX(10deg);
    background: rgba(255, 255, 255, 0.2);
    border-color: #ffffff;
}

/* Add this to prevent animation from being cut off */
.social-links a::before,
.social-links a::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
}

.social-links a::after {
    background: inherit;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: translate3d(0, 0, -1px);
}

.social-links a:hover::after,
.social-links a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* Individual icon hover effects */
/* Use these classes in your HTML to apply specific styles */
.researchgate-icon:hover {
    color: #6cc644;
    /* GitHub's default color */
}

.linkedin-icon:hover {
    color: #00a6ff;
    /* LinkedIn's default color */
}

.scholar-icon:hover {
    color: #a600ff;
    /* GitHub's default color */
}

.mail-icon:hover {
    color: #ff0000;
    /* LinkedIn's default color */
}

main {
    padding: 50px 0;
}

#publications .publications-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Adjusted from center to space-between for better spacing */
}

.publication {
    flex: 0 1 calc(25% - 80px);
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Ensures that content and button are spaced out */
    min-height: 300px;
    /* Increase min-height to fit all content comfortably */
}

.publication-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.publication:hover .publication-inner {
    transform: rotateY(180deg);
    /* Flip the card on hover */
}

.publication-front,
.publication-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* Hide the side not facing the screen */
}

.publication-back {
    /* Any specific back styles */
    transform: rotateY(180deg);
    /* Rotate the backside ready for flip */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.publication-link {
    display: inline-block;
    margin-top: auto;
    /* Pushes button to the bottom due to the `space-between` on the flex container */
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.publication-link:hover {
    background-color: #0056b3;
    /* Darker button color on hover */
}

.publication:hover .publication-image::before {
    opacity: 1;
    /* Reveal the overlay on hover */
}



.publication-image {
    width: 100%;
    height: 200px;
    /* Set a fixed height for uniformity */
    background-position: center;
    /* Ensures the image centers well */
    background-size: cover;
    /* Ensures the image covers the div */
    transition: transform 0.3s ease;
    /* Smooth transition for scale effect */
    position: relative;
    /* For the ::before pseudo-element positioning */
}

.publication-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    /* Creative gradient overlay */
    opacity: 0;
    /* Hidden by default */
    transition: opacity 0.3s ease;
    /* Smooth transition for the hover effect */
}

.publication-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures that the aspect ratio is maintained */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: transform 0.3s ease;
}

.publication-content {
    padding: 15px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    /* Adjust according to needs, factoring in image, title, and button heights */
    overflow: hidden;
}

.publication-content h3 {
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: 5px;
}


.publication-content p {
    font-size: 0.9rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    /* Specify the number of lines you want to show before truncation. Adjust line-clamp based on available space */
    margin: 0 auto 10px;
    /* Ensure some space at the bottom */
    line-height: 1.4;
    /* Adjust line-height for better readability */
    height: calc(4 * 1.4em);
    /* Adjust the height based on the line-height and -webkit-line-clamp. Here, 1.4em * the number of lines */
}

/* Media Queries */

/* Considering desktops and laptops */
@media screen and (min-width: 1025px) {
    .publication {
        flex: 0 1 calc(40% - 100px);
        /* Smaller percentage for a narrower card, note the increased margin deduction */
    }
}

/* Adjusting for medium-sized screens such as tablets and smaller laptops */
@media screen and (max-width: 1024px) {
    .publication {
        flex: 0 1 calc(33.33% - 80px);
        /* Increase size a bit for medium screens */
    }
}

/* Adjusting for tablet screen sizes */
@media screen and (max-width: 768px) {
    .publication {
        flex: 0 1 calc(50% - 80px);
        /* Taking up half the space for tablets */
    }
}

/* Adjusting for mobile devices */
@media screen and (max-width: 480px) {
    .publication {
        flex: 0 1 calc(100% - 40px);
        /* Full width with smaller deduction for mobiles */
    }
}